* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial;
    margin: 0;
  }
  
  /* Header - logo or title */
  .header {
    padding: 60px;
    text-align: center;
    background: #553175;
    color: green;
  }
  
  /* Style nav bar as flexbox */
  .navbar {
    display: flex;
    background-color: #333;
  }
  
  /* Style navigation bar links */
  .navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Column container */
  .section {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* left column */
  .left {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* Right column */
  .right {
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  
  /* Image placeholder */
  .imgph {
    background-color: #aaa;
    width: 100%;
    height: 60px;
    padding: 20px;
  }
  
  /* Taller image placeholder */
  .imgph2 {
    background-color: #aaa;
    width: 100%;
    height: 200px;
    padding: 20px;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #553175;
    color: white;
  }
  
  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 600px) {
    .navbar {
      font-size: 12px;
    }
  }
  
  @media screen and (max-width: 768px) {
  
    .navbar,
    .section {
      flex-direction: column;
    }
  }