div {
  width: 100px;
  height: 100px;
  background-color: blueviolet;
  transition: background-color 4s, width 2s, height 2s;
  transition-timing-function: ease-in;
}

div:hover {
  width: 300px;
  height: 300px;
  background-color: green;
}
