/* Animation property */
button {
  background-color: #444;
  color: white;
  padding: 20px 50px;
  font-size: larger;
  border-top: 10px solid orange;
  border-radius: 5px;
  animation: wiggle 2s linear infinite;
  /* animation shorthand prop 
    animation-name: wiggle;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  */
}

/* Keyframes */
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
